// @flow
import * as React from 'react';

/**
 * Component to display nested page.
 *
 * @returns {React.Node} Example content.
 */
export const ExampleNestedPage = () => (
  <div>This is an app nested page</div>
);
