// @flow
import * as React from 'react';

/**
 * Component to display root page.
 *
 * @returns {React.Node} Example content.
 */
export const ExampleRootPage = () => (
  <div>This is an app root</div>
);
