<% if (flow) { %>// @flow
<% } %>import * as React from 'react';

import { RootLink, NestedLink } from '../links';

/**
 * Component to display Header.
 *
 * @returns {React.Node} Example content.
 */
export const ExampleHeader = () => (<div>
    This is an example header for App. Go to <RootLink>app root</RootLink>.
    Go to <NestedLink>app nested Page</NestedLink>.
</div>);
